.introSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);
}

.introHeading {
  text-align: center;
}

.introContentContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.authorImg {
  width: 50%;
  height: auto;
  border-radius: var(--border-radius-xs);
  align-self: center;
}

.introDetails {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.ctaContainer {
  font-size: var(--font-size-h4);
  margin-bottom: var(--spacing-xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-sm);
}

.ctaSecondarySmaller {
  font-size: var(--font-size-smaller);
}

@media (min-width: 768px) {
  .introContentContainer {
    flex-direction: row;
  }

  .authorImg {
    max-width: 150px;
  }
}

@media (min-width: 1024px) {
  section.introSection,
  section.skillsSection,
  section.goalsSection,
  .ctaContainer {
    max-width: 75%;
  }
}

@media (min-width: 1440px) {
  section.introSection,
  section.skillsSection,
  section.goalsSection,
  .ctaContainer {
    max-width: calc(1400px / 1.5);
  }
}
