.main {
  padding: var(--spacing-md);
  background-color: var(--color-background);
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-xl);
}

.introSection {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

.githubCta {
  text-align: center;
  font-size: var(--font-size-subheading);
}

.contactCta {
  text-align: center;
  font-size: var(--font-size-larger);
  background-color: var(--color-background-dark);
  margin-bottom: var(--spacing-xl);
  padding: var(--spacing-md);
  border-radius: var(--border-radius-xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);
}

@media (min-width: 768px) {
  .main {
    padding: var(--spacing-lg);
  }

  .introSection,
  .projectsContainer,
  .contactCta {
    max-width: 85%;
  }
}

@media (min-width: 1024px) {
  .introSection {
    max-width: 60%;
  }

  .contactCta {
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .main {
    padding: var(--spacing-xl);
  }
}

@media (min-width: 2560px) {
  .main > * {
    max-width: 1400px;
  }

  .introSection {
    max-width: 30%;
  }
}
