/******************************************************************************/
/* Inspired by: https://www.joshwcomeau.com/css/custom-css-reset/
/******************************************************************************/

:root {
  --font-size-base: 1rem;
  --font-scale: 1.25;
  --font-size-smaller: calc(var(--font-size-base) / var(--font-scale));
  --font-size-larger: calc(var(--font-size-base) * 0.9 * var(--font-scale));
  --font-size-h1: calc(
    var(--font-size-base) * var(--font-scale) * var(--font-scale) *
      var(--font-scale) * var(--font-scale)
  );
  --font-size-h2: calc(
    var(--font-size-base) * var(--font-scale) * var(--font-scale) *
      var(--font-scale)
  );
  --font-size-h3: calc(
    var(--font-size-base) * var(--font-scale) * var(--font-scale)
  );
  --font-size-subheading: calc(var(--font-size-base) * var(--font-scale));
  --color-text: #382415;
  --color-background: #fff5e2;
  --color-background-dark: #f1e3c7;
  --color-primary: #5c4033;
  --color-primary-light: #a17059;
  --color-neutral: #d4d4d4;
  --color-link: #71370e;
  --color-link-dark: #53280a;
  --color-cta: #9b3708;
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --border-radius-xs: 0.25rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-size: var(--font-size-base);
  font-family: 'Roboto Slab', 'Roboto', 'Inter', 'Source Sans 3', sans-serif;
  color: var(--color-text);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: var(--color-link);
}

li {
  list-style: none;
}

button {
  background: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

#root,
#__next {
  isolation: isolate;
}

.mainContentContainer {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.cta {
  font-weight: bold;
  color: white;
  padding: var(--spacing-sm) var(--spacing-md);
  background-color: var(--color-link);
  border-radius: var(--border-radius-xs);
  transition: background-color 0.2s ease-in-out;
}

.cta:hover {
  text-decoration: none;
  background-color: var(--color-link-dark);
}

.cta-secondary {
  font-size: var(--font-size-smaller);
  text-decoration: underline;
}

.cta-secondary:hover {
  text-decoration: none;
}

.divider {
  width: 100%;
  height: 1px;
  border: none;
  background-color: var(--color-primary-light);
}

.hidden {
  position: absolute;
  left: -999999999px;
}

:focus-visible {
  outline: 2px solid var(--color-text);
  outline-offset: 2px;
  border-radius: var(--border-radius-xs);
}

@media (hover: hover) and (pointer: fine) {
  a:hover {
    text-decoration: underline;
  }
}

@media (max-width: 425px) {
  :root {
    --font-size-base: 0.9rem;
  }
}

@media (min-width: 768px) {
  :root {
    --font-size-base: 1.125rem;
  }
}

@media (min-width: 1200px) {
  :root {
    --font-size-base: 1.25rem;
  }
}

/* TODO: fix project thumbnails */
