/******************************************************************************/
/* Inspired by: https://www.joshwcomeau.com/css/custom-css-reset/
/******************************************************************************/

:root {
  --text-color: #382415;
  --background-color: #fff5e2;
  --background-dark: #f1e3c7;
  --primary-color: #5c4033;
  --neutral-color: #d4d4d4;
  --neutral-dark: #303336;
  --link-color: #71370e;
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  color: var(--text-color);
  font-family: 'Roboto', 'Inter', 'Source Sans 3', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

li {
  list-style: none;
}

button {
  background: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.hidden {
  position: absolute;
  left: -999999999px;
}

@media (hover: hover) and (pointer: fine) {
  a:hover {
    text-decoration: underline;
  }
}
