.introSection {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.introSummary {
  font-size: var(--font-size-h4);
}

.ctaContainer {
  font-size: var(--font-size-h4);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-xl);
}

.contactLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);
}

.icon {
  width: var(--font-size-h2);
}
