footer {
  padding: var(--spacing-md);
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);
}

footer a,
footer p {
  color: white;
}

.authorSection {
  width: 100%;
  display: flex;
  gap: var(--spacing-sm);
}

.authorImg {
  width: 5rem;
  background-color: var(--color-background);
  border-radius: var(--border-radius-xs);
}

.authorInfo {
  display: flex;
  flex-direction: column;
}

.navListsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-sm);
}

.navList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.socials {
  flex-direction: row;
  gap: var(--spacing-md);
}

.socials img {
  width: 1.5rem;
}

.copyright {
  font-size: var(--font-size-smaller);
}
