footer {
  padding: var(--spacing-md);
  background-color: var(--color-primary);
  grid-row: 3 /4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);
}

footer a,
footer p {
  color: white;
}

.authorSection {
  width: 100%;
  display: flex;
  gap: var(--spacing-sm);
}

.authorImg {
  width: calc(var(--font-size-base) * 5);
  background-color: var(--color-background);
  border-radius: var(--border-radius-xs);
}

.authorInfo {
  display: flex;
  flex-direction: column;
}

.navListsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-sm);
}

.navList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.socials {
  flex-direction: row;
  gap: var(--spacing-md);
}

.socials img {
  width: var(--font-size-h3);
}

.copyright {
  font-size: var(--font-size-smaller);
}

@media (min-width: 768px) {
  footer {
    padding: var(--spacing-lg);
  }

  footer > * {
    max-width: 85%;
  }
}

@media (min-width: 1440px) {
  footer {
    padding: var(--spacing-xl);
  }

  footer > * {
    max-width: 100%;
  }
}

@media (min-width: 2560px) {
  footer > * {
    max-width: 1400px;
  }
}
