header {
  padding: var(--spacing-md);
  background-color: var(--color-background-dark);
  grid-row: 1 / 2;
}

.headerContentContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-md);
}

.authorDetails {
  display: flex;
  flex-direction: column;
}

.authorTitle {
  font-size: var(--font-size-base);
  font-weight: normal;
}

.menuButton {
  flex-shrink: 0;
}

.menuImg {
  width: var(--font-size-h2);
}

.drawerPaper {
  width: 250px;
  padding: var(--spacing-md);
}

.drawerPaper > button {
  align-self: flex-end;
}

.navListsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.navList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.divider {
  height: 1px;
  border: none;
  background-color: var(--color-neutral);
}

@media (min-width: 768px) {
  header {
    padding: var(--spacing-lg);
  }
}

@media (min-width: 1024px) {
  .headerContentContainer {
    align-items: center;
  }

  .navList {
    font-weight: bold;
    flex-direction: row;
    gap: var(--spacing-md);
  }

  .cta {
    font-size: var(--font-size-base);
  }
}

@media (min-width: 1440px) {
  header {
    padding: var(--spacing-xl);
  }
}

@media (min-width: 2560px) {
  header {
    justify-items: center;
  }

  header > * {
    max-width: 1400px;
  }
}
