.main {
  padding: var(--spacing-md);
  background-color: var(--color-background);
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-xl);
}

.authorSection {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-md);
}

.authorImg {
  width: calc(var(--font-size-h1) * 5);
}

.authorDetails {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.authorTitle {
  font-size: var(--font-size-h1);
}

.authorSummary {
  font-size: var(--font-size-subheading);
}

.serviceCardsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.serviceCard {
  width: 100%;
  text-align: center;
  padding: var(--spacing-md);
  background-color: var(--color-background-dark);
  border-radius: var(--border-radius-xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-xs);
}

.serviceDetails {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.serviceIcon {
  width: calc(var(--font-size-base) * 10);
}

.serviceTitle {
  font-size: var(--font-size-subheading);
}

.featuredProjects {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

.featuredProjectsTitle {
  text-align: center;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

.ctaContainer {
  font-size: var(--font-size-subheading);
  margin-bottom: var(--spacing-xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-sm);
}

.ctaSecondaryCustom {
  font-size: var(--font-size-smaller);
}

@media (min-width: 768px) {
  .main {
    padding: var(--spacing-lg);
  }

  .authorSection,
  .serviceCardsContainer,
  .featuredProjects {
    max-width: 85%;
  }

  .serviceCard {
    text-align: left;
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .authorSection {
    max-width: 60%;
  }

  .serviceCardsContainer {
    max-width: 100%;
    flex-direction: row;
  }

  .serviceCard {
    text-align: center;
    flex-direction: column;
  }
}

@media (min-width: 1440px) {
  .main {
    padding: var(--spacing-xl);
  }

  .serviceCardsContainer {
    max-width: 85%;
  }
}

@media (min-width: 2560px) {
  .main > * {
    max-width: 1400px;
  }

  .authorSection {
    max-width: 30%;
  }
}

/* TODO: add skip to content links for keyboard/accessibility */
